@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    font-family: roboto;
}
div,ul,li{
    /*
    border: 1px solid black;
    */
}
ul{
    margin-top: 18px;
}
li{
    margin-bottom: 4px;
    padding: 10px;
    background-color: #ffffff;


}
body{
    background-color: #e5e5e5;
}
.container{
    width: 375px;
    height: 650px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.header,
.footer{
    width: 100%;
    height: 80px;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}
.header {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;

}
.footer {
    position: absolute;
    bottom: 0;
    left: 0;

}
.ctChat{
    height: 490px;
    background-color: #f3f3f3;
    margin: auto 0;
    overflow: auto;
}
input{
    width: 285px;
    height: 30px;
    border: none;
}
.iconePeople{
    font-size: 42px;
}
.iconePaper{
    font-size: 26px;
 }
 .user{
    font-weight: 700;
}
 .negritoForte{
    font-weight: 700;
 }
.negritoFraco{
    font-weight: 400;
}
.cinza{
    color: #aaaaaa;
}
.preto{
    color: #000000;
}